<article class='bottom-space'>
    <header class='background-cover' style='background:url(<%= @article.cover.url(:thumb) %>);top:0px;left:0px;width:100%;height:400px;background-size: cover;'>

    </header>
    <div class='row center-xs'>
        <div class='col-xs-12 ligth-border col-md-7'>
            <h1 class='be-big blue'><%= @article.title %></h1>
            <p class='text-right be-small'>
                <%= link_to 'Atras', articles_path, class:'underline' %> - 
                <span class='red'><%= @article.visits_count %> Visita(s)</span> -
                <% unless @article.user.nil? %>

                    Escrito por: <%= @article.user.email %>

                <%end%>
            </p>
            <div class='text-justify'>
                <%= @article.body %>
            </div>
            <div class='top-space'>
                <%= render 'articles/comments'%>
            </div>
        </div>
    </div>
</article>